body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-span {
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu-item {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link {
    position: relative;
    color: #404bbf;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/* .menu-link:first-child::after {
    content: '';
    left: 0;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    bottom: -1px;
} */

.menu-link-psevdo::after {
    content: '';
    left: 0;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    bottom: -1px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}


.address { 
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.address-list-item {
}

.address-list-link {
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-list-link:hover {
    color: #404bbf;
}

.address-list-link:focus {
    color: #404bbf;
}


.address-list-tel {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list-tel:hover {
    color: #404bbf;
}

.address-list-tel:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;       
    padding-left: 472px;
    padding-right: 472px;
    padding: 188px 0;
    max-width: 1440px;
}

.hero-container {
    
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    margin-left: 164px;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    display: block;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background: #404bbf;
}

.btn:focus {
    background-color: #404BBF;
}

.ares {
    padding-top: 120px;
    padding-bottom: 120px;
}

.ares-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.ares-list-item {
    width: calc((100% - 72px) / 4)
}

.ares-item-border {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-small {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.title-many {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.inside {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    margin-bottom: 72px;
}

.ul-team {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.li-team {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-container {   
    padding-left: 16px;
    padding-right: 16px;    
    text-align: center;
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.team-icon-ulsoc{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon-fon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover{
    background-color: #404bbf;
}

.team-icon-link:focus {
    background-color: #404bbf;
}



.team-item-iconinside{
    fill: #f4f4fd;
}

.team-item-icon {    
  
}

.team-item-iconinside {
   
}


.text-container-border {
    width: 40px;
    height: 40px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text{
    transform: translateY(0%);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.portfolio-color-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 164px;
    transform: translateY(100%);
    transition: transform 300ms linear;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%;
}

.portfolio-container {
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;

}

.footer-in {
    margin-right: 120px;
}


.logox {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.logox-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin-bottom: 16px;
}

.footer-inside {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.team-icon-ul {
    gap: 16px;
}

.footer-container- {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.team-icon-ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.team-item-iconinsi {
    fill: #f4f4fd;
}

.team-icon-lin {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
}

.team-icon-lin:hover {
    background-color: #31d0aa;
}

.team-icon-lin:focus {
    background-color: #31d0aa;
}

.footer-form {
    padding-left: 80px;
}

.form-footer {
    display: flex;
    gap: 24px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer; 
    margin: 0 auto; 
}

.subscribe-svg {
    margin-left: 16px;
}

.footer-input::placeholder { 
    fill: #ffffff;

}


/* region backdrop */

.backdrop {
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 300ms linear, opacity 300ms linear, pointer-events 300ms linear;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 

.modal {
    position: absolute;
    background-color: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0,0,0,0.1);
    fill: #000;
    line-height: 0;
    padding: 0;
    transition: fill 300ms linear; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    color: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}


.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover > .close-icon,
.modal-close-btn:focus > .close-icon{
    fill: #ffffff
}


.form-wrapper-cont {
    margin-bottom: 8px;
}

.modal-form-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-cont-input {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border 300ms linear;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 300ms linear;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+ .modal-icon {
    fill: #4d5ae5;
}

.form-wrapper-cont-comment {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-label-comment {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-wrapper-cont-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
    outline: none;
    display: block;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border: 1px solid #4d5ae5;
}


.modal-textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

}

.modal-cont-checkbox {
    margin-bottom: 24px;

}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.custom-label-user-checkbox {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17; 
}

.privacy-policy {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.checkbox:checked + .custom-label-user-checkbox> .custom-checkbox{ 
    background-color: #404bbf;
    fill: #F4F4FD; 
    border: none;
}

.modal-submit {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: block;
    margin: 0 auto;   
}

